<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/icon.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
</href>
<body>
<div style="margin:20px 0;"></div>
<table id="{{grid.dataid}}" title="{{grid.title}}" width=100%>
	
	</table>


<script type="text/javascript">
$('#{{grid.dataid}}').datagrid({
    url:'{{{grid.dataurl}}}',
    columns:{{{grid.fields}}},
    pagination: true,
    remoteFilter: true,
    rownumbers: true,
    singleSelect: true, 
    });

</script>
</body>
</html>